.projects {
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #ffffff20;
}

.projects__container {
    max-width: 1770px;
    padding: 100px 0 0 0;
    margin: 0 auto;
}

@media screen and (max-width: 730px) {
    .projets__container {
        padding: 50px 15px 0 15px;
    }
}

.projects__wrap {
    max-width: 1500px;
    margin: 100px auto 100px;
}

.projects__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125.5%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4EFE9;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .projects__title {
        font-size: 22px;
    }
}

.projects__span {
    background: linear-gradient(110.28deg, #E9746D 12.3%, #EB9C73 56.1%, #EFB775 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.projects__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 125.5%;
    text-align: start;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4EFE9;
    margin: 0 0 50px 0;
}

@media screen and (max-width: 1500px) {
    .projects__subtitle {
        padding: 0 50px 0 50px;
    }
}

@media screen and (max-width: 730px) {
    .projects__subtitle {
        padding: 0 15px 0 15px;
    }
}

@media screen and (max-width: 600px) {
    .projects__subtitle {
        font-size: 17px;
    }
}


.projects__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 460px);
    justify-content: center;
    gap: 60px;
}

@media screen and (max-width: 510px) {
    .projects__wrapper {
        grid-template-columns: repeat(auto-fill, 356px);
        gap: 30px;
    }
}
@media screen and (max-width: 389px) {
    .projects__wrapper {
        grid-template-columns: repeat(auto-fill, 331px);
        gap: 30px;
    }
}

.projects__link {
    text-decoration: none;
    position: relative;
}

.projects__project {
    border: 2px solid #797872;
    border-radius: 8px;
    z-index: 3;
}

.projects__project:hover {
    border: 2px solid #EB9C73;
    transition: linear 0.3s;
}

.projects__project_image {
    background-color: #2A2C2F;
    transition: opacity 0.3s ease;
    width: 455px;
    height: 313px;
    border-radius: 8px;
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

@media screen and (max-width: 510px) {
    .projects__project_image {
        width: 352px;
        height: 240px;
    }
}

@media screen and (max-width: 389px) {
    .projects__project_image {
        width: 326px;
        height: 223px;
    }
}

.projects__project_title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 125.5%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4EFE9;
    margin: 0;
    transition: linear 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}

.skeletons {
    opacity: 0.8;
}

.empty {
    margin: 200px auto 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.empty__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125.5%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4EFE9;
    margin: 0 0 50px 0;
}

.empty__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 125.5%;
    text-align: start;
    letter-spacing: 0.03em;
    margin: 0 0 25px 0;
    color: #797872;
}

.empty__subtitle:last-of-type {
    margin: 0;
}