.notfound {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 150px 50px 100px 50px;
    border-bottom: 2px solid #ffffff20;
}

@media screen and (max-width: 730px) {
    .notfound {
        padding: 100px 15px 100px 15px;
    }
}

.notfound__smile {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 128px;
    line-height: 125.5%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4EFE9;
    margin: 0;
}

@media screen and (max-width: 410px) {
    .notfound__smile {
        font-size: 105px;
    }
}

.notfound__code {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 125.5%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4EFE9;
    margin: 90px 0 30px 0;
}

@media screen and (max-width: 410px) {
    .notfound__code {
        font-size: 88px;
    }
}

.notfound__text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.5%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #797872;
    margin: 0 0 30px 0;
    text-align: center;
    max-width: 600px;
}

@media screen and (max-width: 410px) {
    .notfound__text {
        font-size: 16px;
    }
}

.notfound__button {
    width: 130px;
    background: linear-gradient(110.28deg, #E9746D 12.3%, #EB9C73 56.1%, #EFB775 100%);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125.5%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding: 12px 0 12px;
    border: none;
    outline: none;
    box-shadow: 0 4px 12px rgba(233, 116, 109, 0.4);
    cursor: pointer;
}

.notfound__link {
    text-decoration: none;
}