.footer {
    max-width: 100%;
    margin: 0 auto;
}

.footer__container {
    max-width: 1770px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

@media screen and (max-width: 730px) {
    .footer__container {
        padding: 50px 15px 50px 15px;
    }
}

@media screen and (max-width: 600px) {
    .footer__container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 25px 15px 25px 15px;
    }
}

.footer__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.5%;
    text-align: center;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    color: #F4EFE9;
    margin: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 830px) {
    .footer__title {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .footer__title {
        font-size: 15px;
    }
}

.footer__title_span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 125.5%;
    text-align: center;
    letter-spacing: 0.03em;
    /* color: #F4EFE9; */
    margin: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(110.28deg, #E9746D 12.3%, #EB9C73 56.1%, #EFB775 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.footer__link {
    text-decoration: none;
}